
input {
    background-color: #fdfdfd;
    color: #333;
    border-radius: 12px;
    padding: 10px 40px;
    border: 1px solid;
    border-color: #d1d0d0;
    width: 75px;
    margin: 5px 100px auto;

}
select {
    background-color: #fdfdfd;
    color: #333;
    border-radius: 12px;
    padding: 10px 40px;
    border: 1px solid;
    border-color: #d1d0d0;
    margin: 20px 100px auto;
}
.addStudents button {
    display: flex;
    /*background-color: #ffdd2d;*/
    background-color: #fdad01;
    color: #333;
    border-radius: 12px;
    padding: 16px;
    border: 1px;
    margin: 20px 130px;
}

h3 {
    margin: auto;
    margin-left: 85px;
    margin-bottom: 20px;
}